p{
    color:green;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    line-height: 1.6;
    border: solid rgb(95, 148, 46);
    background-color: #f2f2f2;
}
#z{
    text-align: center;
    font-size: 50px;
}
#a{
    background-color: rgb(209, 194, 223);

}
body{
background-color: #b17979;
}
#b{
    background-color: rgb(209, 194, 223);
}
#c{
    background-color: rgb(209, 194, 223);
}
#d{
    background-color: rgb(209, 194, 223);
}
#e{
    background-color: rgb(209, 194, 223);
}
#f{
    background-color: rgb(209, 194, 223);
}
#g{
    background-color: rgb(209, 194, 223);
}
#h{
    background-color: rgb(209, 194, 223);
}
#i{
    background-color: rgb(209, 194, 223);
}
#j{
    background-color: rgb(209, 194, 223);
}
#k{
    background-color: rgb(209, 194, 223);
}
#n{
    background-color: rgb(209, 194, 223);
}
#l{
    background-color: rgb(209, 194, 223);
}
#v{
    background-color: rgb(209, 194, 223);
}
#w{
    background-color: rgb(209, 194, 223);
}